.square{
	width: 200px;
	height: 200px;
	background: red;
	transition-duration: 1s;
	transition-property: background;
	animation-timing-function: ease-in;
	transition-delay: 2s;
}
.square:hover{
	background: #FFD700;
	transform: rotateX(45deg);
}