.square{
	width:200px;
	height:200px;
	top: 0px;
	background: blue;
	position:relative;
	transition: transform .2s ease-in-out;
	animation: 2s infinite Color;
}
.square:hover{
	transform:scale(2,2) translate3d(200px, 0px,0px);
}

@keyframes Color{
	0% {background:crimson;}
	8%{background: indigo;}
	50% {background: purple;}
	92%{background: gold;}
	100% {background: navy;}
}